@page "/enrollments"
@inherits ListEnrollmentPage

@using Ucode.Core.Extensions


<MudText Typo="Typo.h3">Matrícula</MudText>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.TwoTone.Add" Href="enrollments/adicionar">Novo Curso</MudButton>
</div>

<MudDataGrid Class="mt-4" Items="@Enrollments" Filterable="true" QuickFilter="Filter" Hideable="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Matrícula</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar..."
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Immediate="true"
                      IconSize="Size.Medium"
                      Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#" />
        <PropertyColumn Property="x => x.StudentName" Title="Nome"/>
        <PropertyColumn Property="x => x.CourseName" Title="Curso" />

        <TemplateColumn Title="Status">
            <CellTemplate>
                @context.Item.Status.GetDisplayName()
            </CellTemplate>
        </TemplateColumn>


        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Href="@($"/enrollments/editar/{context.Item.Id}")"
                                   Color="Color.Primary">
                    </MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   aria-label="Excluir"
                                   OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>

</MudDataGrid>